@font-face {
    font-family: 'logoFont';
    src: url(fonts/norse-bold-webfont.woff2);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: rgba(128, 128, 128, 0.20);
}

.container {
    background-color: rgba(255, 255, 255, 0.90);
    width: 1440px;
    height: 1040px;
    margin: auto;
    margin-top: 1rem;
    display: flex;
}
/* left side of container */
.cont-left {
    min-width: 30%;
    background-image: url(bg_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
}

.logoBanner {
    background-color: rgba(0, 0, 0, 0.404);
    height: 10rem;
    margin-top: 40%;
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.logoBanner > img {
    max-height: 100%;
}

.logoBanner > h1 {
    font-size: 4rem;
    font-family: 'logoFont',sans-serif;
    color: white;
    height: max-content;
}
/* userform side */
.userForm > * {
    padding-left: 2rem;
    padding-right: 10rem;
}

.userForm > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 2rem;
}

.summary > p:last-child {
    margin-top: 1rem;
}

.form-rows {
    background-color: white;
    padding-block: 1rem;
    padding-right: 15rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-row {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
}

.form-row > div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.userForm > footer {
    margin-top: 2.5rem;
}


